.loginbtn {
    height: 100%;
    width: 10%;
}

.loginbtn button{
    height: 100%;
    width: 100%;
    background-color:#ed577b;
    color: white;
    margin: 0 2px;
    border: none;
}

.loginbtn button:hover{
    background-color: #e9345f;
    color: black;
}

.logininfo {
    display: none;
    background-color: #ed577b;
    position: relative;
    padding: 3px 6px 6px 6px;
    z-index: 1;
    width: 224%;
}

.logininfo label {
    display: block;
    color: white;
    padding: 5px 0px;
}

.logininfo input[type="text"] {
    width: 100%;
}

.show {
    display: block;
    opacity: 0;
    animation: login 500ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes login {
    0%{
        opacity: 0;
        transform: scaleY(0)
    }
    80%{
        opacity: 0.8;
        transform: scaleY(1.1);
    }
    100%{
        opacity: 1;
        transform: scaleY(1);
    }
}