.footer {
    display: flex;
    position: absolute;
    height: 30%;
    justify-content: center;
    background-color: #ed577b ;
    width: 100%;
    left: 0;
    flex-wrap: wrap;
    margin-top: 90%;
}

.footer > div {
    margin: 0 30px;
    padding: 0;
    width: 25%;
}

.footer > div > h1 {
    border-top: solid 2px black;
    text-align: center;
    padding: 10px;
}