.footer_container {
    height: 30%;
    display: flex;
    margin-top: 120%;
    align-items: center;
    background-color: #ed577b ;
}

.footer {
    height: 80%;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-around;
}

.footercontent {
    height: 100%;
    width: 15%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footerhead {
    width: 100%;
    height: 25%;
    font-size: 17px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom: dotted #fff 2px;
}

.footerbody {
    width: 50%;
    height: 75%;
    display: flex;
    align-items: right;
    justify-content: flex-start;
    flex-direction: column;
}

.footerbodyct {
    width: 90%;
    height: 75%;
    display: flex;
    align-items: right;
    justify-content: flex-start;
    flex-direction: column;
}

.footerbodyct > p {
    margin: 2px 0px;
    font-size: 15px;
    padding-top: 0px;
    color: whitesmoke;
}

.footerbodym {
    width: 100%;
    height: 75%;
    display: flex;
    align-items: right;
    justify-content: space-around;
}

.footerbodym > a {
    margin-top: 5px;
}

.footerbody > a {
    display: block;
    font-size: 15px;
    padding-top: 12px;
    text-decoration: none;
    color: whitesmoke;
}

.footerbody > a:hover {
    text-decoration: underline;
}